# Android Studio / IntelliJ IDEA
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/

# Kotlin & Compiler artifacts
.kotlin/
*.log

# Workspace temporary logs/txt output files
*.txt
*.txt.utf8
*log.txt
*log_utf8.txt
